
.resultList{
    font-size: 12px;
    left:23%;
    top:40%;
    position: absolute;
    /* background: yellow; */
}

.main{
    margin-top: 10px;
    margin-left: 20px;
    /* background: green; */
}

.repoTtile{
    color:red;
}

.repoOwner{
    color:blue;
    display: inline-flex;
    font-weight: bold;
}

.repoDescription{
    color:rgb(57, 55, 54);
    font-size: 10px;
}

.starImg{
    width:8px;
    height: 9px;
    color:rgb(91, 87, 86);
    margin-left: 7px;
    margin-top: 3px;
}

.sortOptions{
    left:58%;
    position: absolute;
    top:19%;
    background: red;
}

.avatarImg{
    width: 20px;
    height: 30px;
}
