
.usersList{
    font-size: 12px;
    position: absolute;
}

.main{
    margin-top: 10px;
}

.repoTtile{
    color:red;
}

.repoOwner{
    color:blue;
}

.repoDescription{
    color:green;
}
.sortOptions{
    margin-left:250px;
    margin-top: 2px;
    position:relative;
}
