.content{
    margin-left:50px;
    margin-top: 80px;
    width: 40%;
    display: flex;
    justify-content: center;

}

.content input{
    width: 80%;
}

.content select{
    font-size:12px;
    font-weight: bold;
    width: 25%;
}

.mainContainer{
    display: flex;
    justify-content: center;
    width: 60%;
    position: absolute;
    top:5%;
    left:15%;
}

.errorMessage{
    color:red;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    left: 36%;
    top:31%;
}


@media only screen and (max-width: 600px) {
    .mainContainer{
        top:4%;
        left:0%;
        justify-content: flex-start;
        width: 92%;
    }
    .content input{
        width: 100%;
        font-size:50%;
    }
    .content select{
        width: 42%;
        font-size:45%;
    }

    .errorMessage{
        font-size: 50%;
        top:19%;
        left:14%;
    }
}
