
.header{
    width: 100%;
    background: black;
    height: 30px;
    display: flex;
    justify-content:center;


}

.centralHeader{
    width:28%;
    border:solid black 1px;
    color:rgb(246, 235, 238);
    font-weight: bold;
    padding-top:6px;
    font-size:10px;
    display: flex;
    justify-content: space-around;
}

.logo{
    margin-left:-180px;
    width:36px;
    height:30px;
}
