
.header{
    display: none;
    width: 100%;
    background: black;
    height: 30px;
    /* display: flex; */
    justify-content:center;
    position: fixed;
    z-index: 9999;
}

.centralHeader{
    width:28%;
    color:rgb(246, 235, 238);
    font-weight: bold;
    padding-top:9px;
    font-size:10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo{
    position: absolute;
    left:30%;
    width:36px;
    height:30px;
}

@media only screen and (max-width: 600px) {

    .header{
        display: flex;
    }
    .centralHeader{
        width: 60%;
        font-weight: bold;
        padding-top:9px;
        font-size:10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .logo{
        left:5%;
    }
}
