.mainSort select{
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
}

.mainSort select option{
    font-size: 12px;
    font-weight: bold;
    width: 3px;
}

label{
    color:#6c6464;
}
@media only screen and(max-width:600px){
    .mainSort{
        top:30%;
    }
    .mainSort select option {
        font-size: 8px;
    }
}
