.mainSort select{
    font-size: 10px;

}

.mainSort select option{
    font-size: 10px;
    font-weight: bold;
    width: 3px;
}

@media only screen and(max-height:600px){
    .mainSort{
        top:30%;
    }
    .mainSort select {
        font-size: 40%;
        color:red;
    }

}
